/* src/layouts/Footer.module.css */
.footer {
  display: grid;
  gap: 20px;
  width: 100%;
  background-color: #071135;
  color: white;
  padding: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}

.footer-section {
  padding: 20px;
  text-align: center;
}

.left-top {
  order: 1;
}

.center-top {
  order: 2;
}

.center-bottom {
  order: 3;
}

.left-bottom, .right {
  width: 100%;
}

/* Media query for larger devices */
@media (min-width: 769px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "left-top center-top right"
      "center-bottom center-bottom center-bottom"
      "left-bottom right right";
  }

  .left-top {
    grid-area: left-top;
  }

  .center-top {
    grid-area: center-top;
  }

  .center-bottom {
    grid-area: center-bottom;
  }

  .left-bottom {
    grid-area: left-bottom;
    width: 100%;
  }

  .right {
    grid-area: right;
    width: 100%;
  }

  .footer-section {
    padding: 0 20px;
  }
}
